/* Tampilan utama untuk container */
#file-container {
    position: relative;
    display: flex;
    justify-content: center; /* Pusatkan dokumen secara horizontal */
    align-items: center; /* Pusatkan dokumen secara vertikal */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000; /* Latar belakang hitam */
}

/* Gaya untuk iframe */
#file-display iframe {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efek bayangan */
}

/* Gaya untuk pesan instruksi */
#instruction {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6); /* Latar belakang transparan */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 90%;
    text-align: center;
    z-index: 10; /* Agar selalu di atas */
    pointer-events: none; /* Tidak mengganggu interaksi */
}
